<footer>Copyright 2021 Anansesem Fie</footer>

</body>


<!-- Javascript files -->


<!-- CDNs -->
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- <script defer src="https://unpkg.com/@popperjs/core@2"></script> -->
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script defer src="https://kit.fontawesome.com/cdc0f69a5d.js" crossorigin="anonymous"></script>
<!-- <script defer src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script> -->
<script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> 

<!-- custom js -->

<script defer type="text/javascript" src="/js/layouts.js"></script>
<script defer type="text/javascript" src="/js/utils.js"></script>


</html>
