<div id="footer"></div>

</body>


<!-- Javascript files -->
<!-- <script src="bootstrap/js/bootstrap.js"></script> -->
<script src="js/jquery-3.3.1.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/00be9f4f1f.js"></script>
<script type="text/javascript" src="includes/layouts.js"></script>


</html>