<%- include('partials/header'); %>
<div class="main">
    <div class="about_title">
        ABOUT US
    </div>
    <br>
    <div class="container ">
        <div class="card bg-dark text-white" style="width:100%;">
            <div class="card-body">
                <p class="about_para">
            Anansesem Fie is an audio storytelling platform that has different collection of Ghanaian stories. 
            Whether you are driving, working or relaxing there is a story to help you go through what you are doing. 
            Our aim is to give our subscribers with quality, advanced and enjoyable stories told and performed by Africans in Africa and around the world. 

        </p>
            </div>
          </div>
        
<br>
        <div class="col-12">
            <div class="card bg-secondary text-white" style="width:auto;">
                <div class="card-body">
                    
                     <div style="display:flex;">
                    <a class="address" href="mailto:anansesemfie@thepostghana.com" target="_blank"><i class="fas fa-at fa-2x"></i></a>
                    <a class="address" href="https://web.facebook.com/AnansesemFie" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/anansesem_fie/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                       
                      
                        
                    
                </div>
              </div>
                   
                </div>
  
       
    </div>

</div>
<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/doc.js"></script>
<script defer type="text/javascript" src="/js/search.js"></script>
