<%- include('partials/header'); %>
<div class="main">
    <div class="about_title">
        ABOUT US
    </div>
    <hr>
    <div class="container ">
        <div class="card bg-dark text-white" style="width:100%;">
            <div class="card-body">
                <p class="about_para">
            Anansesem Fie is an audio storytelling platform that has different collection of Ghanaian stories. 
            Whether you are driving, working or relaxing there is a story to help you go through what you are doing. 
            Our aim is to give our subscribers with quality, advanced and enjoyable stories told and performed by Africans in Africa and around the world. 

        </p>
            </div>
          </div>
        
<hr>
        <div class="col-12">
            <div class="card bg-secondary text-white" style="width:auto;">
                <div class="card-body">
                    
                     <div class="about_contact row row-cols-1 row-cols-md-1">
                        <div class="" style="border-radius: 0rem;">
                                
                           <label for=""><i class="fas fa-envelope"></i></label>
                               <span class="address">P.O.Box 284<sub class="sub">Ejisu</sub></span>
                               
                        
                        </div>
                        <div class="" style="border-radius: 0rem;">
                            
                           <label for=""><i class="fas fa-at fa-2x"></i></label>
                               <a class="address" href="mailto:anansesemfie@thepostghana.com">anansesemfie@thepostghana.com</a>
                           
                        </div>
                        </div>
                        
                    
                </div>
              </div>
                   
                </div>
  
       
    </div>

</div>
<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/doc.js"></script>
<script defer type="text/javascript" src="/js/search.js"></script>
