<%- include('partials/header'); %>

<!-- Book info here  -->
<div id="barner">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="ig_container " id="biggerPicture">
            <img src="" alt="" id="bookCover">


        </div>
        <div class="top-top">
          
       <div class="pic_heading">
         <span id="bookTitle"></span>
         <span id="ifUser">
         <!-- <button  type="button" id="genBtn" data-id="bookForm" class="button btn cat signin">Add Book</button> -->
         </span>
          
          
       </div>
          <div class="book_para">
            <p id="description">

            </p>

                </div>
     </div>


      <div class="container centered" id="category">
        
      </div>
      <div class="bottom-left">
        <div class="container row" id="Authors">
        
        </div>
      </div>
      
      <div class="container bottom-right react" id="react">

        <button type="button" class="simp_btn btn cat position-relative reaction" onclick="Liking()">
          Like
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" id="like_count">
           
        
          </span>
        </button>

        <button type="button" class="simp_btn btn cat position-relative reaction" onclick="Disliking()">
          Dislike
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="dislike_count">
            
            
          </span>
        </button>

        <div  class="simp_btn btn position-relative">
          Seen
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info" id="seen">
            
           
          </span>
        </div>

      </div>

</div>
      
     
      
     


    </div>
  </div>
  
</div>

<!-- toast -->


<!-- toast -->

      <!-- book info -->



      <div class="row container-fluid">
        
        <div class="col-12 title">
         <div class="c0l-9">
          
          <div class="col-3">
           <h3>Chapters</h3>
         </div>
         
          
         </div>
            
          
        </div>
      </div>

      <div class="container books">
     <div class="col-lg-12">  
<div class="row">
  
    <div class="container col-9">
        <div class="row row-cols-1 row-cols-md-1" id="Chapters">
          



        </div>
        </div>

        <!-- comments here -->
        <div class="container col-3">
          

                  

                </div>
                
  </div>
</div>


        
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">

            </div>
          </div>
        </div>



        <!-- Player here -->
        <div class="container-fluid myPlayer">
          <div class="card">
            <div class="card-header headerColor">
              #<span id="audioTitle" style="color:white;"> Title</span>
            </div>
            <div class="card-body">

              <div class="row">
            <div class="col-12">

              <audio oncontextmenu="return false;" controls controlslist="nodownload" id="custPlayer">
                <source src="" type="">
              </audio>

            </div>
          </div>

            </div>
            
          </div>
          
        </div>

       <div class="floatingComments mobile" id="comments">
          

                  

                </div>

        <!-- comment input -->
        <div id="commenting" class="floatingDiv mobile">
          <!-- comment input here -->
          <input type="text" name="" id="comment" class="myInput" placeholder="leave a comment">
          <button class="btn btn-info" id="comment_go">>></button>
        </div>
        
        




<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/book.js"></script>
<script defer type="text/javascript" src="/js/player.js"></script>


