<%- include('partials/header'); %>
<!-- Book info here  -->
<div id="barner" style="">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="ig_container " id="biggerPicture">
            <img src="" alt="" id="bookCover">


        </div>
        <div class="top-top">
          
       <div class="pic_heading">
         <span id="bookTitle"></span>
         <span id="ifUser">
         <!-- <button  type="button" id="genBtn" data-id="bookForm" class="button btn cat signin">Add Book</button> -->
         </span>
          
          
       </div>
          <div class="book_para">
            <p id="description">

            </p>

                </div>
     </div>


      <div class="container centered" id="category">
        
      </div>
      
      <div class="container bottom-left" id="react">
       
      </div>

</div>
      
     
      
     


    </div>
  </div>
  
</div>

      <!-- book info -->



      <div class="row container-fluid">
        <div class="col-12 title">
         
            <h3>Chapters</h3>
          
        </div>
      </div>

      <div class="container books">
        <div class="row row-cols-1 row-cols-md-1" id="Chapters">

            <div class="col mb-4">
                <div class="card">
                  <img src="images/web1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="container">
                    <div class="">
                      <button data-id="bookBtn" id="genBtn" data-target="1111111" ><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>
                      <button ><i class="fa fa-expand" aria-hidden="true"></i></button>
                      <button ><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="col mb-4">
                <div class="card">
                  <img src="images/web1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="container">
                    <div class="">
                      <button data-id="bookBtn" id="genBtn" data-target="1111111" ><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>
                      <button ><i class="fa fa-expand" aria-hidden="true"></i></button>
                      <button ><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>



        </div>
        </div>

    




<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/book.js"></script>
