<%- include('partials/header'); %>

<!-- Book info here  -->
<div id="barner">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="ig_container " id="biggerPicture">
            <img src="" alt="" id="bookCover">


        </div>
        <div class="top-top">
          
       <div class="pic_heading">
         <span id="bookTitle"></span>
         <span id="ifUser">
         <!-- <button  type="button" id="genBtn" data-id="bookForm" class="button btn cat signin">Add Book</button> -->
         </span>
          
          
       </div>
          <div class="book_para">
            <p id="description">

            </p>

                </div>
     </div>


      <div class="container centered" id="category">
        
      </div>
      
      <div class="container bottom-right" id="react">

        <button type="button" class="btn cat position-relative">
          Like
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            99+
        
          </span>
        </button>

        <button type="button" class="btn cat position-relative">
          Dislike
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            
          </span>
        </button>

        <div type="button" class="btn position-relative">
          Seen
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            99+
           
          </span>
        </div>

      </div>

</div>
      
     
      
     


    </div>
  </div>
  
</div>

<!-- toast -->


<!-- toast -->

      <!-- book info -->



      <div class="row container-fluid">
        
        <div class="col-12 title">
         <div class="c0l-9">
          <div class="container row" id="Authors">
        
          </div>
          <div class="col-3">
           <h3>Chapters</h3>
         </div>
         
          
         </div>
            
          
        </div>
      </div>

      <div class="container books row col-lg-12">
        

<div class="col-9">
        <div class="row row-cols-1 row-cols-md-1" id="Chapters">
          



        </div>
        </div>
        <div class="col-3">
          <div class="col mb-4">
            <div class="card">

            </div>
          </div>

        </div>
        
        </div>

    




<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/book.js"></script>

