<%- include('partials/header'); %>
<!-- Book info here  -->
<div class="container" >
            <div class="book">
                    
                   
                
                    
                </div>
                
                    <!-- book info here-->
            </div>

</div>

<div class="row">
    <div class="col-4">
        <!-- possible ads -->
    </div>
    <div class="col-4 card">
        <!-- chapters -->
        <div class="container">
            <div class="row">
                <div class="">
                  <div class="card">
                      <div class="card-header headerColor"></div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="">
                    <div class="card">
                        <div class="card-header headerColor"></div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <!-- Activity -->
    </div>

</div>

    




<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/book.js"></script>
