<%- include('partials/header'); %>
<div class="main row">

    <div class="Filter">
        <div class="filterArea">
            <div class="card">
                <select name="category" id="category" class="form-control">
                    <option disabled hidden selected> Select a category </option>
                    <img src="/images/loading.gif" alt="loading gif">

                    
                </select>
            </div>

            <div class="card">
                <select name="played" id="played" class="form-control">
                    <option disabled hidden selected>Select Played count</option>
                <option value="1">1+</option>
                <option value="10">10+</option>
                <option value="50">50+</option>
                <option value="100">100+</option>
                <option value="500">500+</option>
                <option value="1000">1000+</option>
            </select>
            </div>
            <!-- action button to start search -->
            <div class="card">
                <button id="filterBtn" class="btn btn-dark btn-lg" style="float:right">
            Filter
        </button>
            </div>
        
        </div>


        <div class="filterResult">

            <div class="row row-cols-1 row-cols-md-3" id="books">
            <img src="/images/loading.gif" alt="loading gif">
        </div>

        </div>
    </div>



<div class="container">
   
   
</div>



</div>








<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/search.js"></script>
<script defer type="text/javascript" src="/js/filter.js"></script>