

<%- include('partials/header'); %>


    <div id="barner">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="ig_container " id="biggerPicture">
                <img src="images/fire.jpg" alt="">


            </div>
            <div class="top-top">
              <span style="font-size: x-large;">Welcome to</span><br>
           <div class="pic_heading">
             Anansesem Fie
             <%if(!user){%>
             <button  type="button" id="genBtn" data-id="user" class="button btn cat signin">Signin / Signup </button>
             <%} if(user){
              if(user.account==="Creator"){
              %>
              <button  type="button" id="genBtn" data-id="bookForm" class="button btn cat signin">Add Book</button>
              <%} } %>
           </div>

         </div>


          <div class="container centered" id="category">
            
          </div>

          </div>
          
         
          
         


        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>

    </div>

    <div class="row container">
      <div class="col-12 title">
       
          <h3>books</h3>
        
      </div>
    </div>

     <div class="container books">

      
      <div class="row row-cols-1 row-cols-md-3" id="top_books">
        
      
    </div>

    


     

    </div>

   


    
      
      
<%- include('partials/footer') %>
<script defer type="text/javascript" src="js/home.js"></script>
<script defer type="text/javascript" src="js/search.js"></script>


</html>