<%- include('partials/header'); %>
<style>
    body{
        background:rgb(4, 102, 214)
    }

    body::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
  }
  body::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#f44336,#E8290B);
    clip-path: circle(10% at 10% 30%);
  }

  .title{
      margin-top: 20%;
      margin-left: 20%;
      box-shadow: 10px 10px 10px 10px black;
      background-color: rgba(0,0,0,0.4);
      opacity: 1;
  }
  .title span{
      font-size: 4rem;
      color:rgb(237 233 233);;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 10%;
      width:fit-content;
  }
  .title a{
      color:white;
  }

</style>


<div class="container">
    <header>
        <p>
            You are seeing this page because your upload failed, check the info provided below, to know what is expected of you
        </p>
    </header>

    <div class="col-12">
        <div class="row">
                <div class="row row-cols-1 row-cols-md-3" id="top_books">
                  
                
              </div>
        </div>
    </div>

</div>




<%- include('partials/footer') %>