
<%- include('partials/header'); %>
<style>
   
    body::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
  }
  body::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#f44336,#E8290B);
    clip-path: circle(20% at 10% 10%);
  }
    .login{
        padding-top: 10%; 
        padding-left: 19%;
    }
    #userNom{
        display: none;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card{
        min-width: 18rem;
        max-width: 36rem;
        width: auto;
        z-index: 1;

    }.title{
        color:beige;
    }
    .cat{
        background-color: rgb(224, 194, 19);
    }
    
  

    @media screen and (max-width: 985px){
        .login{
            padding-top: 23%; 
        padding-left: 8%;
        }
    }

    @media screen and (max-width: 600px){
        .login{
            padding-top: 45%; 
        
        }
    }


</style>

<div class="container-fluid">

    <div class="row">
        <div class="container login">
            <div class="card" id="login">
              <div class="card-header bg-dark headerColor">
                  <h4 class="title">User</h4>

              </div>
              <div class="card-body">
                <form>
                  
                  
                    <div class=" form-floating mb-3">
                        <div class="email error"></div>
                      <input type="email" name="email" class="form-control" placeholder="Email address*" required="required" autofocus="autofocus">
                      <label for="email">Email address<span style="color: brown;">*</span></label>
                      
                    </div>
                   
                  
                 <!-- password -->
                    <div class=" form-floating mb-3">
                        <div class="password error"></div>
                      <input type="password" name="password" id="pass_1" class="form-control" placeholder="Password" required="required">
                      <label for="password">Password</label>
                      <div style="float:right;"><input type="checkbox" id="shwPass" value="">Show Password</div>
                  </div>
                  
                    <!-- username -->
                     <div class=" form-floating mb-3" id="userNom">
                      
                      <div class=" form-floating mb-3">
                        <div class="password error"></div>
                      <input type="password"  id="pass_2" class="form-control" placeholder="confirm Password">
                      <label for="password">Confirm Password</label>
                      
                  </div>
                         <div class="username error"></div>
                      <input type="Text" name="userName" class="form-control" placeholder="User Name">
                      <label for="userName">User Name</label><br>
                      <hr>

                      <label class="label" hidden>
                          <label for="" style="font-size: small;">Creating Account as</label><br>
                        <div class="label-text">A Consumer</div>
                        <div class="toggle">
                          <input class="toggle-state" type="checkbox" id="accountType" name="accountType" value="check" />
                          <div class="indicator"></div>
                        </div>
                        <div class="label-text">A Creator</div>
                      </label>
                      
                  </div>
                  <!-- account type -->
                  
                 
                  <button type="submit" class="cat cat_green" id="loginBtn" >Login</button>
                  <div class="status error"></div>
                </form>
        
                <div class="row text-center">
                  <!-- <button class="cat cat_green" >Register an Account</button>  -->
                  <button class="d-block small" id="forgot_password" type="button">Forgot Password?</button>
                  <button class="d-block small" id="resend_verify" type="button">Resend Verification</button>
                </div>

                <label class="label">
                    <div class="toggle">
                      <input class="toggle-state" type="checkbox" id="newAcct" name="check" value="check" />
                      <div class="indicator"></div>
                    </div>
                    <div class="label-text">Don't Have an Account?</div>
                  </label>
                  

              </div>
            </div>
          </div>
        
</div>



<%- include('partials/footer') %>
<script defer src="/js/userControl.js"></script>
<script defer src="/js/newUser.js"></script>

<!-- </html> -->
