<%- include('partials/header'); %>
<style>
    body{
        /* background: #ffffff  no-repeat center; */

            width: 100%;
            height: 100%;
            background-color: black; /* fallback color */
            background-image: linear-gradient(90deg,rgb(163, 57, 7),rgb(168, 94, 10), rgb(5, 94, 136), rgba(10, 33, 240, 0.404));
            background-position: center;
            background-size: cover;

            font-size: larger;
    }
    .login{
        padding-top: 10%; 
        padding-left: 19%;
    }
    #userNom{
        display: none;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .card{
        min-width: 18rem;
        max-width: 36rem;

    }.title{
        color:beige;
    }
    .cat{
        background-color: rgb(224, 194, 19);
    }
    
  

    @media screen and (max-width: 985px){
        .login{
            padding-top: 23%; 
        padding-left: 8%;
        }
    }

    @media screen and (max-width: 600px){
        .login{
            padding-top: 45%; 
        
        }
    }


</style>

<div class="container-fluid">

    <div class="row">
        <div class="container login">
            <div class="card" id="login">
              <div class="card-header bg-dark headerColor">
                  <h4 class="title">User</h4>

              </div>
              <div class="card-body">
                <form>
                  
                  
                    <div class=" form-floating mb-3">
                        <div class="email error"></div>
                      <input type="email" name="email" class="form-control" placeholder="Email address*" required="required" autofocus="autofocus">
                      <!-- <label for="email">Email address<span style="color: brown;">*</span></label> -->
                      
                    </div>
                   
                  
                 <!-- password -->
                    <div class=" form-floating mb-3">
                        <div class="password error"></div>
                      <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                      <!-- <label for="password">Password</label> -->
                      
                  </div>
                    <!-- username -->
                     <div class=" form-floating mb-3" id="userNom">
                         <div class="username error"></div>
                      <input type="Text" name="userName" class="form-control" placeholder="User Name">
                      <!-- <label for="userName">User Name</label><br> -->
                      <hr>

                      <label class="label">
                          <label for="" style="font-size: small;">Creating Account as</label><br>
                        <div class="label-text">A Consumer</div>
                        <div class="toggle">
                          <input class="toggle-state" type="checkbox" id="accountType" name="accountType" value="check" />
                          <div class="indicator"></div>
                        </div>
                        <div class="label-text">A Creator</div>
                      </label>
                      
                  </div>
                  <!-- account type -->
                  
                 
                  <button type="submit" class="cat cat_green" id="loginBtn" >Login</button>
                  <div class="status error"></div>
                </form>
        
                <!-- <div class="text-center">
                  <button class="cat cat_green" >Register an Account</button> -->
                  <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
                <!-- </div> -->

                <label class="label">
                    <div class="toggle">
                      <input class="toggle-state" type="checkbox" id="newAcct" name="check" value="check" />
                      <div class="indicator"></div>
                    </div>
                    <div class="label-text">Don't Have an Account?</div>
                  </label>
                  

              </div>
            </div>
          </div>
        
</div>



<%- include('partials/footer') %>
<script src="/js/newUser.js"></script>
