<%- include('partials/header'); %>
<div class="main">
    <div class="about_title">
        PRIVACY AND POLICY
    </div>
    <div class="container">

         <div class="card bg-dark text-white" style="width:100%;">
        <div class="card-body row ">
            <p class="about_para">
                Anansesem Fie understands that you value how information about you is used and shared and we value your trust in us to do that responsibly. 
                This notice applies to information collected by Anansesem Fie.
            </p>
        </div>
    </div><br>

    <div class="card bg-secondary text-white" style="width:100%;">
        <div class="card-header">
        Personal Information About Customers Anansesem Fie Gathers
            </div>
        <div class="card-body">
            <p class="about_para">
                
        The information we learn from customers helps us personalize and continually improve your experience on our website.
        We use the information to process payments, communicate with you about our services and promotional offers, update our records and generally maintain your accounts with us, display content such as favorites and recommend contents that might be of interest to you. We also use this information to improve our platform.

            </p>
            </div>

    </div><br>

    <div class="card bg-dark text-white" style="width:100%;">
        <div class="card-header">
            Here are the types of information we gather
            </div>
        <div class="card-body">
            <ol>
                
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                Information You Give Us: We receive and store any information you enter on our sites or give us in any other way.
                                You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. 
                                We use the information that you provide for such purposes as responding to your requests, customizing future experiences for you, improving our platform, and communicating with you. 
                            </p>   
                        </div>
                       
                    </div>
                   

                </li> <br>
               
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                E-mail Communications: To help us make emails more useful, we often receive a confirmation when you create an account.  
                            </p> 
                        </div>
                       
                    </div>
                    

                </li><br>
                
                 <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                Mobile: When you download or use our apps, we may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services, such as, search results, and other personalized content. 
                                Most mobile devices allow you to turn off location services.   
                            </p>
                        </div>
                       
                    </div>
                </li>

            </ol>
            
            </div>

    </div><br>

    <div class="card bg-secondary text-white" style="width:100%;">
        <div class="card-header">
            Anansesem Fie does not Share the Information It Receives
            </div>
        <div class="card-body">
            
                <ol>
                    <li>
                        <div class="card bg-dark text-white" style="width:100%;">
                            <div class="card-body">
                                <p class="about_para">
                                    Information about our customers is an essential part of our business, and we are not in the business of selling it to others. 
                                    Anansesem Fie shares customer information only as described below, with its partners that are either subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice. 
                                </p>
               
                            </div>
                           
                        </div>
                        
                    </li><br>
                    <li>
                        <div class="card bg-dark text-white" style="width:100%;">
                            <div class="card-body">
                                <p class="about_para">
                                    Business Transfers: As we continue to develop our business, we might sell or buy stores, subsidiaries, or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). 
                                    Also, in the event that Anansesem Fie or substantially all of its assets are acquired, customer information will of course be one of the transferred assets. 
                                </p> 
                            </div>
                           
                        </div>
                       

                    </li><br>
                    <li>
                        <div class="card bg-dark text-white" style="width:100%;">
                            <div class="card-body">
                                <p class="about_para">
                                    Protection of Anansesem Fie and Others: We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Anansesem Fie Terms of Service and other agreements; or protect the rights, property, or safety of Anansesem Fie, our users, or others. This includes exchanging information with other companies and organizations for fraud and risk reduction. 
                                    We do not sell, rent, share, or otherwise disclose personally identifiable information from customers for commercial purposes in a way that is contrary to the commitments made in this Privacy Notice. 
                                </p> 
                            </div>
                           
                        </div>
                        

                    </li><br>
                    <li>
                        <div class="card bg-dark text-white" style="width:100%;">
                            <div class="card-body">
                                <p class="about_para">
                                    With Your Consent: Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information. 
                                </p>  
                            </div>
                           
                        </div>
                    </li>

                </ol>
                
            
            </div>

    </div><br>

    <div class="card bg-dark text-white" style="width:100%;">
        <div class="card-header">
            Security of Your Information
            </div>
        <div class="card-body">
            <ol>
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                We work to protect the security of your financial cards information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. 
                            </p> 
                        </div>
                       
                    </div>
                   

                </li><br>
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                We reveal only the last four digits of your financial card numbers when confirming an order. 
                                Of course, we transmit the entire financial card number to the appropriate financial card company during order processing.
                            </p>  
                        </div>
                       
                    </div>
                    

                </li><br>
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                We maintain physical, electronic and procedural safeguards in connection with the collection, storage and disclosure of personally identifiable customer information. 
                                Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.                    
                            </p>  
                        </div>
                       
                    </div>
                   

                </li><br>
                <li>
                    <div class="card bg-secondary text-white" style="width:100%;">
                        <div class="card-body">
                            <p class="about_para">
                                It is important for you to protect against unauthorized access to your password and to your computer or mobile device. 
                                Be sure to sign-off when finished using a shared computer.                     
                            </p>  
                        </div>
                       
                    </div>
                    

                </li>
            </ol>
            </div>

    </div><br>

    <div class="card bg-secondary text-white" style="width:100%;">
        <div class="card-header">
            Third-Party Advertisers and Links to Other Websites
            </div>
        <div class="card-body">
            <p class="about_para">
                Our site may include third-party advertising and links to other websites. 
                We do not provide any personally identifiable customer information to these third-party websites. 
                We do not have access to or control over cookies or other features that they may use, and the information practices of these third-party websites are not covered by this Privacy Notice. 
                Please contact them directly for more information about their privacy practices.
            </p>
            </div>

    </div><br>

    <div class="card bg-dark text-white" style="width:100%;">
        <div class="card-header">
            Information You Can Access
            </div>
        <div class="card-body">
            <p class="about_para">
                Anansesem Fie gives you access to a range of information about your account and your interactions with Anansesem Fie for the limited purpose of viewing and, in certain cases, updating that information. 
                This list will change as our sites evolve.
            </p>
            </div>

    </div><br>

    <div class="card bg-secondary text-white" style="width:100%;">
        <div class="card-header">
            Who can listen to contents on Anansesem Fie? 
            </div>
        <div class="card-body">
            <p class="about_para">
                Everyone can listen to an audio content on Anansesem Fie, however, children below 18 years old should use it only with the involvement of a parent or guardian as some contents are not for children.
            </p>
            </div>

    </div><br>

    <div class="card bg-dark text-white" style="width:100%;">
        <div class="card-header">
            Terms of Service, Notices, and Revisions
            </div>
        <div class="card-body">
            <p class="about_para">
                If you choose to visit Anansesem Fie, your visit and any dispute over privacy is subject to this Privacy Notice and to our Terms of Use, including limitations on damages, resolution of disputes, and choice of law. 
                If you have any concern about privacy at Anansesem Fie, please contact us with a thorough description, and we will try to resolve the issue for you. 
                Our Privacy Notice and our Terms of Use will change with time. 
                You should check our sites periodically to see recent changes. 
                Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account.
            </p>
            </div>

    </div><br>

    <div class="card bg-secondary text-white" style="width:100%;">
        <div class="card-header">
            Examples of Information Collected
            </div>
        <div class="card-body">
            <p class="about_para">
                Examples of the information we collect and analyze include: the Internet protocol (IP) address used to connect your computer to the Internet; login; email address; password; computer and connection information such as browser type, version and time zone setting; operating system and platform; the full Uniform Resource Locators (URL) clickstream to, through and from our sites (including date and time); contents listened or searched for.
            </p>
            </div>

    </div><br>



    </div>
   
</div>
<%- include('partials/footer') %>
<script defer type="text/javascript" src="/js/search.js"></script>