<%- include('partials/header'); %>

<div class="main">

    <div class="row row-cols-1 row-cols-md-4 g-4" id="subscriptions">

    </div>

</div>

<%- include('partials/footer') %>
<!-- <script defer type="text/javascript" src="/js/profile.js"></script> -->
<script defer type="text/javascript" src="/js/search.js"></script>
<script defer type="text/javascript" src="/js/subscribe.js"></script>